<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>NEXUS - Portail Central</title>
  <link rel="stylesheet" href="../static/css/style2.css" />
  <script src="../static/js/javascript2.js" defer></script>
</head>

<body>

  <a href="https://neuroncraft.github.io/NEXUS.github.io/" class="nexus-chip-button">NEXUS</a>

  <canvas id="interconnexion-canvas"></canvas>

  <h1>Interface Centrale - NEXUS</h1>

  <div class="button-grid">

    <a href="../templates/nexus.html" class="button">
      <div class="button-title">Qu’est-ce que NEXUS ?</div>
      <div class="button-desc">Présentation du système de puce et des univers personnels.</div>
    </a>

    <a href="../templates/puce.html" class="button">
      <div class="button-title">La Puce</div>
      <div class="button-desc">Connexion neuronale, mémoire, transfert cognitif, identifiants.</div>
    </a>

    <a href="../templates/portails.html" class="button">
      <div class="button-title">Portails & Interconnexion</div>
      <div class="button-desc">Système de portail flou, intentions, transfert entre mondes.</div>
    </a>

    <a href="../templates/lois.html" class="button">
      <div class="button-title">Les Lois</div>
      <div class="button-desc">Loi d’intégrité, loi du consentement, loi du plagiat.</div>
    </a>

    <a href="../templates/securite.html" class="button">
      <div class="button-title">Sécurité</div>
      <div class="button-desc">Filtrage cognitif, anti-usurpation, émotions & intentions.</div>
    </a>

    <a href="../templates/echecs.html" class="button">
      <div class="button-title">Cas d’échec</div>
      <div class="button-desc">Déconnexion, refus de portail, absence de puce, rejet d’entrée.</div>
    </a>

  </div>

  <section class="galerie-section">
  <h2>Fenêtres sur l’expérience NEXUS</h2>
  <div class="galerie-grid">
    <img src="../static/images/Puce.png" alt="Monde 1 Nexus">
    <img src="../static/images/Tempe.png" alt="Monde 2 Nexus">
    <img src="../static/images/test.png" alt="Monde 3 Nexus">
  </div>
</section>

</body>
</html>